@page
@model Fresh_Farm_Market_214142Z.Pages.InvalidModel
@{
}

<h1>Email does not exist</h1>
<p>
    Please register an account using the same email used as your google account
</p>
<p>
    Click <a href="/Login">here</a> to return to the login page
</p>