@page
@model Fresh_Farm_Market_214142Z.Pages.MultipleSessionInvalidModel
@{
}

<h1>Already logged in!</h1>
<p>
    You are already logged in! You can't log into the same account at once!
</p>
<p>
    Click <a href="/Login">here</a> to return to the login page
</p>

