@page
@model Fresh_Farm_Market_214142Z.Pages.NewPasswordModel
@{
}


<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">

			<h1>Reset your password</h1>

			<form method="post" enctype="multipart/form-data" asp-antiforgery="true" >
				<div asp-validation-summary="All" class="text-danger"></div>

				<div class="mb-3">
					<label class="form-label" asp-for="NModel.Password">Password</label>
					@*<label class="form-label">(Must contain at least 12 characters, 1 uppercase, 1 lower case, 1 number & 1 special character)</label>*@
					<input type="Text" asp-for="NModel.Password" class="form-control" />
					<span asp-validaton-for="Cmodel.Password" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="NModel.ConfirmPassword">Confirm Password</label>
					<input type="Text" asp-for="NModel.ConfirmPassword" class="form-control" />
					<span asp-validaton-for="Cmodel.ConfirmPassword" class="text-danger"></span>
				</div>

				<input type="Text" id="RModelToken" asp-for="NModel.token" class="form-control" hidden />
				<input type="Text" value="@Model.NModel.Email" asp-for="NModel.Email" class="form-control" hidden />
				<input type="Text" value="@Model.NModel.Code" asp-for="NModel.Code" class="form-control" hidden />
				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Reset Password</button>
				</div>


			</form>


		</div>


	</div>
	
</div>